/*
  About Banner
*/

#sub-headline {
  max-width: 100%;
  padding: 0 10%;
}

#co-director {
	height: 45%;
	width: 45%;
}

#mission-team {
	height: 50%;
	width: 50%;
}
/*
#main-headline h1, #sub-headline p {
  color: white;
}
*/
