/*
  Navbar
*/
#mainNav {
  background-color: #0019FF;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: white;
}


/*
  About Banner
*/
.about-banner-section {
  background-color: #0019FF;
  padding: 12% 0;
}

#about-headline, #about-sub-headline {
  padding: 8px 0;
  color: white;
}

#about-headline h1 {
  font-size: 60px;
  font-weight: 600;
}

#about-sub-headline p {
  padding: 0 10%;
  font-size: 14pt;
}
