/*
  Navbar
*/
#mainNav {
  background-color: #0019FF;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: white;
}


/*
  About Banner
*/
.about-banner-section {
  background-color: #0019FF;
  padding: 12% 0;
}

#sub-headline {
  max-width: 100%;
  padding: 0 10%;
}

#main-headline h1, #sub-headline p {
  color: white;
}
