/* Coming Soon Styling */

/*
    Coming Soon Section
*/
.coming-section {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url('../img/uiuc.jpg'), no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.coming-section h1 {
    letter-spacing: 3px;
    margin: 3% 0;
}

.coming-section button {
    padding: 7px 35px;
    margin: 3% 0;
}
