/*
Common Styling
*/
body {
    font-family: 'Lato', sans-serif;
    letter-spacing: .3px;
    background: #445261;
}

.container{
    max-width: 1000px !important;
}

.center {
    text-align: center;
}

section {
    padding: 60px 0;
    display:block;
}

p {
    font-weight: 200;
}

.section-title{
    font-size: 35px;
    margin-bottom: 25px;
    font-weight:400;
}

.btn {
    font-weight: 700;
    font-size: 15px;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.white-text {
  color: white;
}

.btn-primary {
    background-color: #4682b4 !important;
    border-color: #4682b4 !important;
}

a {
    text-decoration: none !important;
}

h2 {
    font-weight: 400;
}


/*
    Navigation Bar
*/
#mainNav {
    background-color: #ffffff;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #082567;
    border: 0;
    background-color: #bfe6ec;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: #082567;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #6A7CA3;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 8px;
        padding-bottom: 8px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }

    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }

    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #ffffff;
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }
}


/*
  Blockquotes
*/
.blockquote-fancy {
    line-height: 1.5em;
    padding-top: 5%;
}

.blockquote-fancy:before {
    position: absolute;
    content: "\201C";
    font-size: 40pt;
    font-family: Georgia, serif;
    color: #7a7a7a;
    margin: 1% 0 0 -7%;
}

.blockquote-fancy-cite {
    font-style: italic;
    font-weight: 300;
    color: #808080;
    margin-bottom: 0;
}

.blockquote-fancy-title {
    font-style: italic;
    font-weight: 300;
    font-size: 12.5px;
    white-space: nowrap;
    margin-bottom: 7%;
}


/*
    Footer
*/
.footer-section {
    background-color: #37536c;
    min-height: 350px;
    padding-top:70px !important;
}

.footer-section h4{
    font-size: 15px;
    color:#e1e1e1;
    text-align: left;
    padding-bottom: 9px;
}

.footer-section ul{
    list-style-type: none;
    text-align: left;
    padding:0;
}

.footer-section li {
    font-size: 15px;
    padding-bottom: 5px;
}

.footer-logo-box {
    padding-bottom: 20px;
}

.footer-section a {
    color:#8E8D8A;
}

.footer-section a:hover {
    color: #d9d9d9;
}

.footer-left-div {
    padding-bottom: 30px;
}

.footer-section p {
    color: #d9d9d9;
}


/*
    Sponsor Section

.sponsors-section {
    background:#bfe6ec;
}
.sponsor-title-box {
    text-align: center;
}
.sponsor-title-box h1 {
    margin-bottom: 5px !important;
}
.sponsor-title-box p {
    font-size: 14px;
    padding: 2px 0;
    margin: 0 0;
}
*/


/*
    Contact Section
.contact-section {
    padding:60px !important;
    height: 250px;
    background:#EAE7DC;
}

.contact-section h1 {
    margin-bottom: 10px !important;
}

#contact-us-text {
    font-size:20px;
}
*/
