/*
Common Styling
*/
body {
    font-family: "Heebo",sans-serif;
    letter-spacing: .3px;
    background: #445261;
}

.container{
    max-width: 1000px !important;
}

.center {
    text-align: center;
}

section {
    padding: 60px 0;
    display:block;
}

p {
    font-weight: 200;
    font-family: 'Heebo', sans-serif;
}

/**
* Bootstrap was overriding the margins for the row to be -15px on each side,
* causing some elements to be pushed to the very edge of the page.
**/
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.section-title{
    font-size: 35px;
    margin-bottom: 25px;
    font-weight:400;
    font-family: 'Chivo', sans-serif;
}

.text-title{
    font-size: 25px;
    margin-bottom: 25px;
    font-weight:400;
    font-family: 'Chivo', sans-serif;
}

.btn {
    font-weight: 700;
    font-size: 15px;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.white-text {
  color: white;
}

.btn-primary {
    background-color: #4682b4 !important;
    border-color: #4682b4 !important;
}

a {
    text-decoration: none !important;
}

h2 {
    font-weight: 400;
}

.blue-arrow-down {
  margin: auto;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 60px solid #C3D5FD;
}

.gray-subsection {
    padding-top:50px;
    background-color: #ebeff2;
}

.margin-lg-top {
  margin-top: 9%;
}

.margin-sm-all {
    margin: 2%;
}
/*
    MAIN Navigation Bar
*/
#mainNav {
    background-color: #ffffff;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #155DA1;
    border: 0;
    background-color: #bfe6ec;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: #155DA1;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #729dc6;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 8px;
        padding-bottom: 8px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: white;
    }

/*    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
*/
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }

/*    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: white;
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }*/
}



/*Other Navigation Bars*/

#otherNav {
    background-color: #ffffff;
}

#otherNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #155DA1;
    border: 0;
    background-color: #bfe6ec;
}

#otherNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: #155DA1;
}

#otherNav .navbar-nav .nav-item .nav-link.active, #otherNav .navbar-nav .nav-item .nav-link:hover {
    color: #729dc6;
}

@media (min-width: 992px) {
    #otherNav {
        padding-top: 8px;
        padding-bottom: 8px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }

    #otherNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    #otherNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }

    #otherNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: white;
    }

    #otherNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }
}






/*
  Banner
*/

#main-banner-photo{
    background-image: url("../img/h4i-team-blue-2.png");
    display: flex;
    background-attachment: fixed;
    background-position: center center;
}

#main-banner-headline {
    margin-bottom: 24px;
    font-family: 'Chivo', sans-serif;
}

#main-headline h1{
    font-size: 60px !important;
    font-weight: 600;
    color: #104a80;
    font-family: 'Chivo', sans-serif;
}

#homepage-main-headline h1 {
    font-size: 60px !important;
    font-weight: 600;
    color: white;
    font-family: 'Chivo', sans-serif;
}


#sub-headline {
    max-width: 600px;
    margin:0 auto;
}

#sub-headline p {
    font-size: 20px;
    margin-bottom: 28px auto;
    color: black;
    font-weight: 350;
}

#homepage-sub-headline {
    max-width: 600px;
    margin:0 auto;
}


#homepage-sub-headline p {
    font-size: 20px;
    margin-bottom: 28px auto;
    color: white;
    font-weight: 350;
}

/*Buttons*/

#cta-button {
    font-family: 'Heebo', sans-serif;
}

/*
  Blockquotes
*/

.project-body-quote {
    font-family: 'Chivo', sans-serif;
}

.blockquote-fancy {
    line-height: 1.5em;
    padding-top: 5%;
}

.blockquote-fancy:before {
    position: absolute;
    content: "\201C";
    font-size: 40pt;
    font-family: Georgia, serif;
    color: #7a7a7a;
    margin: 1% 0 0 -7%;
}

.blockquote-fancy-cite {
    font-style: italic;
    font-weight: 300;
    color: #808080;
    margin-bottom: 0;
}

.blockquote-fancy-title {
    font-style: italic;
    font-weight: 300;
    font-size: 12.5px;
    white-space: nowrap;
    margin-bottom: 7%;
}

.blockquote-footer {
    font-family: 'Heebo', sans-serif;
}

/*
    Gradient Banner
*/

.gradient-banner-section {
  background: radial-gradient(white, #AAC3FF);
  padding: 12% 0;
}


/*
    Project Page Banner
*/

.project-page-banner {
    padding: 7% 0;
    background: radial-gradient(white, #64ab8a);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

/*
    Footer
*/
.footer-section {
    background-color: #104a80;
    min-height: 350px;
    padding-top:70px !important;
}

.footer-section h4{
    font-size: 15px;
    color:#e1e1e1;
    text-align: left;
    padding-bottom: 9px;
}

.footer-section ul{
    list-style-type: none;
    text-align: left;
    padding:0;
}

.footer-section li {
    font-size: 15px;
    padding-bottom: 5px;
}

.footer-logo-box {
    padding-bottom: 20px;
}

.footer-section a {
    color:#8E8D8A;
}

.footer-section a:hover {
    color: #d9d9d9;
}

.footer-left-div {
    padding-bottom: 30px;
}

.footer-section p {
    color: #d9d9d9;
}


/*
    Sponsor Section

.sponsors-section {
    background:#bfe6ec;
}
.sponsor-title-box {
    text-align: center;
}
.sponsor-title-box h1 {
    margin-bottom: 5px !important;
}
.sponsor-title-box p {
    font-size: 14px;
    padding: 2px 0;
    margin: 0 0;
}
*/


/*
    Contact Section
.contact-section {
    padding:60px !important;
    height: 250px;
    background:#EAE7DC;
}

.contact-section h1 {
    margin-bottom: 10px !important;
}

#contact-us-text {
    font-size:20px;
}
*/
