/*
Common Styling
*/
body {
    font-family: 'Lato', sans-serif;
    letter-spacing: .5px;
    background: #445261;
}
.container{
    max-width: 1000px !important;
}
.center {
    text-align: center;
}
section {
    padding: 60px 0; 
    display:block;
}
p {
    font-weight: 200;
}
@media (min-width: 768px) {
    section {
      padding: 100px 0; 
    } 
    .banner-section {
        padding-top: 200px !important;
    }
    .our-work-section {
        height: 600px;
    }
    
}
@media (max-width: 768px){
    
}
.section-title{
    font-size: 35px;
    margin-bottom: 25px;
    font-weight:400;
}
.btn {
    font-weight: 700;
    font-size: 15px !important;
}

.btn-primary {
    background-color: #4682b4 !important; 
    border-color: #4682b4 !important;
}
a {
    text-decoration: none !important;
}
h2 {
    font-weight: 400;
}

/*
    Navigation Bar
*/
#mainNav {
    background-color: #EAE7DC; 
}
#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #082567;
    border: 0;
    background-color: #e98074;
}
#mainNav .navbar-brand {
    color: #e98074; 
}
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #e98074; 
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: #082567; 
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #e98074; 
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 8px;
        padding-bottom: 8px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent; 
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; 
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important; 
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #ffffff; 
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; 
    } 
}

/*
    Banner Section
*/
.banner-section {
    height:650px;
    background: #EAE7DC;
    padding-top: 100px;
    background: url('./uiuc.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: .6;
}
#main-headline {
    margin-bottom: 24px;
}
#main-headline h1{
    font-size: 60px !important;
    font-weight: 600;
    color: #ffffff;
}
#sub-headline {
    max-width: 600px;
    margin:0 auto;
}
#sub-headline p {
    font-size: 20px;
    margin-bottom: 28px;
    color: #ffffff;
    font-weight: 350;

}
#cta-button {
    padding: 15px 30px 15px;
}
.cta-box{
    padding-top: 7px;
}
.cta-box a, .cta-box a:hover{
    font-size: 12px;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    text-decoration: none !important;
}
/*
    Our Work Section
*/
#our-work-title-box{
    padding-bottom: 40px;
    max-width:100%;
}
.our-work-section {
    max-height: 900px;
    padding-top:50px;
    padding-bottom: 200px;
    background-color: #46525f;
}
.our-work-section h1 {
    color:#bfe6ec;
}
.our-work-section p {
    color: #ffffff;
}
#project-showcase-box a {
    color: #bfe6ec;
    font-weight: 400;
}

.project-showcase-box{
    max-width:100%;
}

/*
    Get Involved Section
*/
.involve-section {
    background: url('./sayagata-400px.png');
}
.student-cta {
    padding-top: 40px;
}


/*
Sponsor Section
*/
.sponsors-section {
    background:#bfe6ec;
}
.sponsor-title-box {
    text-align: center;
}
.sponsor-title-box h1 {
    margin-bottom: 5px !important;
}
.sponsor-title-box p {
    font-size: 14px;
    padding: 2px 0;
    margin: 0 0;
}

/*
Contact Section
*/
.contact-section {
    padding:60px !important;
    height: 250px;
    background:#EAE7DC;
}
.contact-section h1 {
    margin-bottom: 10px !important;
}
#contact-us-text {
    font-size:20px;
}

/*
    Footer
*/
.footer-section {
    background-color: #46525f;
    min-height: 350px;
    padding-top:70px !important;
}
.footer-section h4{
    font-size: 15px;
    color:#e1e1e1;
    text-align: left;
    padding-bottom: 9px;
}
.footer-section ul{
    list-style-type: none;
    text-align: left;
    padding:0;
}
.footer-section li {
    font-size: 15px;
    padding-bottom: 5px;
}
.footer-logo-box {
    padding-bottom: 20px;
}
.footer-section a {
    color:#8E8D8A;
}
.footer-section a:hover {
    color: #d9d9d9;
}
.footer-left-div {
    padding-bottom: 30px;
}
/*
Banners for other pages
*/
.other-page-banner-section {
    max-height:350px;
    background: #EAE7DC;
    padding-top: 100px;
}
#other-banner-sub{
    max-width:600px;
}
#other-banner-sub p {
    font-size: 17px;
    color:#8E8D8A;
}
#other-banner-headline {
    margin-bottom: 24px;
}
#other-banner-headline h1{
    font-size:36px;
    font-weight: 600;
    color: #e85a4f;
}


/*
About Page - "Our Mission" Sectio 
*/
.mission-section h2 {
    font-size: 30px;
    font-weight: 550;
}
.mission-section {
    max-height: 300px !important;
}
