/*
Common Styling
*/
body {
    font-family: 'Lato', sans-serif;
    letter-spacing: .5px;
}
.container{
    max-width: 1000px !important;
}
.center {
    text-align: center;
}
section {
    padding: 60px 0; 
}
@media (min-width: 768px) {
    section {
      padding: 100px 0; 
    } 
    .banner-section {
        padding-top: 70px;
    }
}
.section-title{
    font-size: 35px;
    margin-bottom: 25px;
    font-weight:600;
}
.btn {
    font-weight: 700;
    font-size: 15px !important;
}

.btn-primary {
    background-color: #e98074 !important; 
    border-color: #e98074 !important;
}
a {
    text-decoration: none !important;
}

/*
    Navigation Bar
*/
#mainNav {
    background-color: #EAE7DC; }
    #mainNav .navbar-toggler {
      font-size: 12px;
      right: 0;
      padding: 13px;
      text-transform: uppercase;
      color: #8E8D8A;
      border: 0;
      background-color: #e98074;
    }
    #mainNav .navbar-brand {
      color: #e98074; }
      #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: #e98074; }
    #mainNav .navbar-nav .nav-item .nav-link {
      font-size: 90%;
      font-weight: 400;
      padding: 0.75em 0;
      letter-spacing: 1px;
      color: #8e8d8a; }
      #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #e98074; }

@media (min-width: 992px) {
#mainNav {
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent; }
    #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important; }
    #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #EAE7DC; }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; } 
}

/*
    Banner Section
*/
.banner-section {
    height:90vh;
    max-height:650px;
    background: #EAE7DC;
    padding-top: 200px;
}
#main-headline {
    margin-bottom: 24px;
}
#main-headline h1{
    font-size: 60px !important;
    font-weight: 600;
    color: #e85a4f;
}
#sub-headline {
    max-width: 600px;
    margin:0 auto;
}
#sub-headline p {
    font-size: 20px;
    margin-bottom: 28px;
    color: #656565;
}
#cta-button {
    padding: 15px 15px 15px;
}
.cta-box{
    padding-top: 7px;
}
.cta-box a {
    font-size: 12px;
    color: #8e8d8a;
    border-bottom: 1px solid #8e8d8a;
    text-decoration: none !important;
}
/*
    Our Work Section
*/
#our-work-title-box{
    padding-bottom: 40px;
}
.our-work-section {
    height: 600px;

    background-color: #f7f7f7;
}

/*
    Get Involved Section
*/
.student-cta {
    padding-top: 40px;
}


/*
Sponsor Section
*/
.sponsor-title-box {
    text-align: center;
}
.sponsor-title-box h1 {
    margin-bottom: 5px !important;
}
.sponsor-title-box p {
    font-size: 14px;
    padding: 2px 0;
    margin: 0 0;
}

/*
Contact Section
*/
.contact-section {
    padding:60px !important;
    height: 250px;
    background:#EAE7DC;
}
.contact-section h1 {
    margin-bottom: 10px !important;
}
#contact-us-text {
    font-size:20px;
}

/*
    Footer
*/
.footer-section {
    background: #EAE7DC;
    min-height: 350px;
    padding-top:70px !important;
}
.footer-section h4{
    font-size: 15px;
    color:#656565;
    text-align: left;
    padding-bottom: 9px;
}
.footer-section ul{
    list-style-type: none;
    text-align: left;
    padding:0;
}
.footer-section li {
    font-size: 15px;
    padding-bottom: 5px;
}
.footer-logo-box {
    padding-bottom: 20px;
}
.footer-section a {
    color:#8E8D8A;
}

/*
Banners for other pages
*/
.other-page-banner-section {
    max-height:350px;
    background: #EAE7DC;
    padding-top: 100px;
}
#other-banner-sub{
    max-width:600px;
}
#other-banner-sub p {
    font-size: 17px;
    color:#8E8D8A;
}
#other-banner-headline {
    margin-bottom: 24px;
}
#other-banner-headline h1{
    font-size:36px;
    font-weight: 600;
    color: #e85a4f;
}


/*
About Page - "Our Mission" Sectio 
*/
.mission-section h2 {
    font-size: 30px;
    font-weight: 550;
}