/*
  About Banner
*/

#sub-headline {
  max-width: 100%;
  padding: 0 10%;
}

#co-director {
  width: 45%;
}

#team-icon {
  width: 80%;
}

#mission-team {
  max-width: 700px;
}
/*
#main-headline h1, #sub-headline p {
  color: white;
}
*/
