.speech-bubble-left {
  margin: 2% 0;
  background: #d0deec;
  padding: 20px;
  border-radius: 5px;
  position:relative;
}

.speech-bubble-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #d0deec;
  border-top: 10px solid #d0deec;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 6px;
}

.speech-bubble-right {
  margin: 2% 0;
  background: #d0deec;
  padding: 20px;
  border-radius: 5px;
  position:relative;
}

.speech-bubble-right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #d0deec;
  border-right: 10px solid transparent;
  border-top: 10px solid #d0deec;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
}