/*
  Individual Projects Section
*/
/*
.card-deck {
	width: 18rem;
}*/
.gradient-banner-section {
  padding: 8% 0;
}

@media (max-width: 990px) {
  .gradient-banner-section {
    padding: 20% 0;
  }
}

/*.explore {
	height: 100%;
    	padding-top:50px;
	background-color: #ebeff2;
}
*/
#project-photo {
	height: 80%;
	width: 80%;
}

.tech-stack div {
	padding: 5px;
	display: flex;
	justify-content: center;
}
