/*
Common Styling
*/
body {
    font-family: "Heebo",sans-serif;
    letter-spacing: .3px;
    background: #445261;
}
.container{
    max-width: 1000px !important;
}

.text-center {
    text-align: center;
    margin: 0 auto;
}
.center {
    text-align: center;
    margin: auto;
}

section {
    padding: 90px 0;
    display:inline-block;
}

p {
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
    line-height: 1.5;
    
}

/**
* Bootstrap was overriding the margins for the row to be -15px on each side,
* causing some elements to be pushed to the very edge of the page.
**/
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.section-title{
    font-size: 30px;
    margin-bottom: 25px;
    font-weight:400;
    font-family: 'Chivo', sans-serif;
}

.text-title{
    font-size: 25px;
    margin-bottom: 25px;
    font-weight:500;
    font-family: 'Chivo', sans-serif;
}
.project-detail-title {
    font-size: 30px;
    margin-bottom: 25px;
    font-weight:550;
    font-family: 'Chivo', sans-serif;
}

.btn {
    font-weight: 700;
    font-size: 15px;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.light-shadow {
    box-shadow: 0 5px 30px rgba(44,62,80,0.1);
}

.white-text {
  color: white;
}

a {
    text-decoration: none !important;
}

h2 {
    font-weight: 400;
}

.gray-subsection {
    padding-top:50px;
    background-color: #ebeff2;
}

.margin-lg-top {
  margin-top: 9%;
}

.margin-sm-all {
    margin: 2%;
}

.link-wrap {
  /* Technically the same, but use both for cross-browser compatibility */
  overflow-wrap: break-word;
  word-wrap: break-word;
}


/*
    MAIN Navigation Bar
*/
#mainNav {
    background-color: #ffffff;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #155DA1;
    border: 0;
    background-color: #bfe6ec;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: #155DA1;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #729dc6;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 8px;
        padding-bottom: 8px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: white;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }
}


/*Other Navigation Bars*/

#otherNav {
    background: #ffffff;
}

#otherNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #155DA1;
    background-color: #f0f0f0;
}

#otherNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: #155DA1;
}

#otherNav .navbar-nav .nav-item .nav-link.active, #otherNav .navbar-nav .nav-item .nav-link:hover {
    color: #729dc6;
}

@media (min-width: 992px) {
    #otherNav {
        padding-top: 8px;
        padding-bottom: 8px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background: transparent;
    }

    #otherNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    #otherNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }

    #otherNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: white;
    }

    #otherNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }
}

/*
  Blockquotes
*/
.blockquote-fancy {
    line-height: 1.5em;
    padding-top: 7%;
}

.blockquote-fancy:before {
    position: absolute;
    content: "\201C";
    font-size: 40pt;
    font-family: Georgia, serif;
    color: #7a7a7a;
    margin: 1% 0 0 -7%;
}
.project-body-quote {
    font-family: 'Chivo', sans-serif;
}

.blockquote-fancy-cite {
    font-style: italic;
    font-weight: 300;
    color: #808080;
    margin-bottom: 0;
}

.blockquote-fancy-title {
    font-style: italic;
    font-weight: 300;
    font-size: 12.5px;
    white-space: nowrap;
    margin-bottom: 7%;
}

.blockquote-footer {
    font-family: 'Heebo', sans-serif;
}

@media (max-width:900px) {
  .blockquote-fancy-title {
    white-space: initial;
  }
}


@media (max-width: 990px) {
  .gradient-banner-section, .project-page-banner {
    margin-top: 61px;
  }
}

